body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3e3e3;
  color: black;
}

#drum-machine {
  width: 80vh;
  height: 50vh;
  background-color: rgb(245, 182, 88);
}

.drum-pad {
  width: 100px;
  height: 100px;
  margin: 5px;
}

#display {
  width: 60%;
}